.menu-section-column{
    width: 250px;
}
.sort-number-column{
    width: 120px;
}
.button-edit-column{
    width: 80px;
}

.table_settings .tab-content{
    border: 1px solid #ddd;
    padding: 30px;
    border-top: none;
}

#columns .row{
    line-height: 36px;
}

#columns .input-editor{
    display: none;
}

#columns .input-display{
    font-weight: bold;
}

#columns .input-display a{
    color: navy;
}

#columns .input-editor input{
    display: inline;
}

#columns .input-group-btn .btn{
    vertical-align: top;
}

#validationRulesModal .row{
    margin-bottom: 7px;
}
#validationRulesModal .row strong{
    font-weight: normal;
}
#validationRulesModal .row.checked strong{
    font-weight: bold;
}

.loading{
    padding: 10px 10px 20px 10px;
    text-align: center;
    background: url(/cms/images/ajax-loader.gif) no-repeat bottom center;
    display: none;
}

#structure .text-field{
    padding-top: 7px;
    overflow-x: hidden;
}
#structure .header-btn{
    top: -7px;
}
#structure .table-item{
    vertical-align: middle;
}

#structure .form-group {
    margin-bottom: 5px;
    margin-top: 5px;
}

#structure .selected-row{
    background-color: #efefef;
}
